@import "../../../scss/core";

:host {
  background: $cv_indigo;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nabvar-container {
  display: flex;
  flex-direction: row;

  .button-content {
    display: flex;
    flex-direction: row;

    svg {
      @include format_svg(32px);
      margin-right: 5px;
    }

    h2 {
      color: white;
      margin: 0;
      font-weight: 600;
      font-size: 15px;
    }
  }
}

::ng-deep .mat-button-focus-overlay {
  background-color: aqua;
}
